input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: black;
    }
    input[type=email],input[type=telephone] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        color: black;
    }
 
    input[type=submit] {
  
    color: white;
    padding: 12px 20px;
    border: yellow;
    cursor: pointer;
    }

    input[type=submit]:hover, .submitBtn {
    background-color: yellow;
    color: black;
    }

    .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    color:black;
    }

    .divback{
      background: black;
      opacity: 0.8;
      color:white;
  
    }

    .socialIcon{
      width:100%;
      text-align: center;
    }


    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
    .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
    }

    .labelCol{
        color: white;
    }
}